@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--article-bg);
    padding: 1.5rem 1rem;
    height: 80px;
    margin-bottom: 1.5rem;
}

.user > div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-right: 2px solid var(--accent-color);
    padding: 0 1rem;
    height: 100%;
}

.user > div:last-child {
    border-right: none;
}

.username {
    margin-left: 10px;
}

.container {
    display: grid;
    font-family: "JetBrains Mono";
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.5rem;
    margin: 1.5rem 0;
}

.title {
    color: var(--accent-color);
    font-size: 1.3rem;
    font-weight: 1000;
}

.contributions article {
    width: 100% !important;
}

.para1 {
    color: rgb(213, 213, 210);
    width: 60%;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    letter-spacing: -0.03em;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}
.bgpara {
    color: rgb(213, 213, 210);
    width: 60%;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    letter-spacing: -0.03em;
    margin-left: auto;
    margin-right: auto;
}

.bgparaheading {
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: 1000;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.skills {
    width: 60%;
    font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: 1.5rem;
    letter-spacing: -0.03em;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
}

.skillsheading {
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: 1000;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.para1 a {
    color: white;
    font-weight: 800;
}
.bgpara a {
    color: white;
    font-weight: 600;
}
.skills a {
    color: white;
    font-weight: 600;
}

.skills ul {
    font-weight: 500;
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
}

@media screen and (max-width: 900px) {
    .user h3 {
        font-size: 50px;
    }
    .para1 {
        width: 90%;
    }
    .bgpara {
        width: 90%;
    }
    .skills {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .user h3 {
        font-size: 14px;
    }
    .username {
        display: none;
    }
}
