@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

.container {
    margin: 1.5rem 0;
    display: grid;
    font-family: "JetBrains Mono";
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.5rem;
}

.underline {
    cursor: pointer;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(
        120deg,
        var(--accent-color) 100%,
        var(--accent-color) 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 0.15em;
    background-position: 0 95%;
    transition: background-size 0.25s ease-in;
}

.underline:hover {
    background-size: 100% 88%;
}
